@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Spartan&display=swap');
body {
    width: 100%;
    margin: auto;
    background-color: rgb(182, 182, 252);
}
header{
    background-color: cornsilk;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 1;
}

h1 {
    font-size: 30px;
    padding: 20px;
    float: left;
    font-weight: bold;
    font-family: 'Spartan', serif;
    
}
nav li{
    display: inline-block;
    padding: 20px 10px 20px 10px;
    float: right;
    
}
nav li a {
    color: black;
    text-decoration: none;
}
h2 {
    font-size: 25px;
    padding: 20px;
    font-family: 'Spartan', serif; 
}
main {
    height: 844px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(124, 29, 29);
    padding: 5px;
    font-size: 20px;
}
#about {
    position: absolute;
    top: 286px;
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}
#branch {
    color: rgb(2, 2, 102);
    list-style: square;
    padding-left: 30px;
}
#allImage {
    text-align: center;
    padding: 0 0 28px 70px;
    padding: 0 0 81px 0;
}
.mySlides {
    width: 300px;
    margin: auto;
    text-align: center;
}
a:hover {
    color: rgb(16, 124, 212);
    text-shadow: 1px 3px aqua, 0 2px aqua, 0 2px aqua;
}
article#firstP {
    height: 434px;
}
#hour {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
h2#loc {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0; 
    text-align: center;
}
article#secP {
    height: 106px;
}
ol.title {
    display: -webkit-inline-box;
    padding: 20px 0 15px 50px;
    font-size: 20px;
    color: darkblue;
    font-family: sans-serif;
    position: relative;
}
ol.title li:first-child{
    position: absolute;
    left: 165px;
    bottom: 2px;
}
ol.title li:nth-child(2){
    position: absolute;
    left: 385px;
    bottom: 2px;
}
ol.title li:nth-child(3){
    position: absolute;
    left: 610px;
    bottom: 2px;
}
ol.title li:nth-child(4){
    position: absolute;
    left: 828px;
    bottom: 2px;
}
ol.title li:last-child{
    position: absolute;
    left: 1051px;
    bottom: 2px;
}
div#map {
    position: relative;
    margin: auto;
    clear: both;
}
iframe:first-child{
    position: absolute;
    left: 92px;
}
iframe:nth-child(2){
    position: absolute;
    left: 311px;
}
iframe:nth-child(3){
    position: absolute;
    left: 531px;
}
iframe:nth-child(4){
    position: absolute;
    left: 749px;
}
iframe:last-child{
    position: absolute;
    left: 969px;
}


footer {
    text-align: center;
}
h2#cont {
    background-color: whitesmoke;
    padding: 10px;
}
#htmlp {
    text-decoration: none;
   color: darkred;
   border: fuchsia solid 1px;
   padding:0 1%;
    text-align: center;
    margin-left: 50%;
}
#htmlp:hover {
    color: dimgray;
    border-radius: 20%;
}

input:invalid:required {
    background-color: hotpink;
  }

  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  .upImage {
      font-size: 30px;
      background: none;
      margin: 0 0 10px 0;
      color: rgb(6, 6, 110);
      text-align: center;
      animation: fade 10s ease forwards;
  }
  @keyframes fade{
      form {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
  }


  table, td, th{
    border: 2px solid black;
    padding: 5px;
    border-collapse: collapse;
}
#mainForm {
    border: 1px solid black;
    width: 64%;
    text-align: -webkit-center;
    margin: auto;
    padding: 1%;
    margin-top: 3%;
    position: relative;
    background-color: rgb(197, 197, 197);
}

table {
    margin: 0 0 0 2%;
    background-color: rgb(197, 197, 197);
}
legend {
    font-family: 'Spartan', 'Times New Roman', Times, serif;
    top: -40%;
    left: 30%;
    position: absolute;

}
td {
    color: darkblue;
    font-family: sans-serif, Arial, Helvetica;
}
label{
    font-family: serif;
    color: rgb(124, 29, 29);
}
th {
    font-family: 'Spartan', serif;
}
#submit:hover {
    color:cadetblue;
    border-radius: 2px;
    background: rgb(105, 105, 247);
    box-shadow: 0 0 4px blue, 0 0 10px blue, 0 0 40px blue;
}
